AccessControl==6.1
Acquisition==5.0
altair==5.0.1
attrs==23.1.0
AuthEncoding==5.0
beautifulsoup4==4.12.2
blinker==1.6.2
bokeh==2.4.3
borg.localrole==3.1.10
BTrees==5.0
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
Chameleon==4.0.1
charset-normalizer==3.1.0
click==8.1.3
collective.monkeypatcher==1.2.1
connectorx==0.2.3
contourpy==1.1.0
cssselect==1.2.0
cycler==0.11.0
DateTime==5.2
decorator==5.1.1
deltalake==0.10.0
diazo==1.5.0
DocumentTemplate==4.4
docutils==0.20.1
ExtensionClass==5.0
feedparser==6.0.10
five.customerize==2.1.0
five.intid==1.2.7
five.localsitemanager==4.0
fonttools==4.40.0
fsspec==2023.6.0
future==0.18.3
gitdb==4.0.10
GitPython==3.1.31
greenlet==2.0.2
icalendar==5.0.7
idna==3.4
importlib-metadata==6.7.0
iniconfig==2.0.0
Jinja2==3.1.2
jsonschema==4.17.3
kiwisolver==1.4.4
lxml==4.9.3
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
mdurl==0.1.2
Missing==5.0
MultiMapping==5.0
multipart==0.2.4
numpy==1.25.0
packaging==23.1
pandas==2.0.3
Paste==3.5.3
PasteDeploy==3.0.1
pathlib2==2.3.7.post1
Persistence==4.0.post1
persistent==5.0
pexpect==4.8.0
piexif==1.1.3
Pillow==9.5.0
Plone==6.0.6
plone.alterego==2.0.0
plone.api==2.0.4
plone.app.caching==3.1.2
plone.app.content==4.0.2
plone.app.contentlisting==3.0.3
plone.app.contentmenu==3.0.2
plone.app.contentrules==5.0.2
plone.app.contenttypes==3.0.3
plone.app.customerize==2.0.0
plone.app.dexterity==3.1.1
plone.app.discussion==4.0.2
plone.app.event==5.1.0
plone.app.i18n==4.0.1
plone.app.intid==2.0.0
plone.app.iterate==5.0.2
plone.app.layout==4.0.7
plone.app.linkintegrity==4.0.1
plone.app.locales==6.0.15
plone.app.lockingbehavior==1.0.7
plone.app.multilingual==8.0.0
plone.app.portlets==5.0.6
plone.app.querystring==2.0.5
plone.app.redirector==3.0.1
plone.app.registry==2.0.2
plone.app.relationfield==3.0.3
plone.app.textfield==2.0.0
plone.app.theming==5.0.4
plone.app.upgrade==3.0.6
plone.app.users==3.0.3
plone.app.uuid==2.2.2
plone.app.versioningbehavior==2.0.1
plone.app.viewletmanager==4.0.2
plone.app.vocabularies==5.0.3
plone.app.widgets==5.0.0
plone.app.workflow==5.0.2
plone.app.z3cform==4.3.0
plone.autoform==2.0.1
plone.autoinclude==1.0.1
plone.base==1.1.3
plone.batching==2.0.6
plone.behavior==2.0.0
plone.browserlayer==3.0.1
plone.cachepurging==3.0.1
plone.caching==2.0.0
plone.contentrules==3.0.0
plone.dexterity==3.0.2
plone.event==2.0.0
plone.folder==4.0.0
plone.formwidget.namedfile==3.0.2
plone.formwidget.recurrence==3.0.3
plone.i18n==5.0.1
plone.indexer==2.0.0
plone.intelligenttext==4.0.0
plone.keyring==4.0.0
plone.locking==3.0.0
plone.memoize==3.0.2
plone.namedfile==6.1.1
plone.outputfilters==5.0.4
plone.portlet.collection==4.0.3
plone.portlet.static==4.0.1
plone.portlets==3.0.0
plone.protect==5.0.0
plone.registry==2.0.0
plone.resource==3.0.0
plone.resourceeditor==4.0.0
plone.rest==3.0.0
plone.restapi==8.42.0
plone.rfc822==3.0.0
plone.scale==4.0.1
plone.schema==2.0.0
plone.schemaeditor==4.0.4
plone.session==4.0.3
plone.staticresources==2.1.3
plone.stringinterp==2.0.1
plone.subrequest==2.0.4
plone.supermodel==2.0.3
plone.theme==4.0.0
plone.transformchain==3.0.0
plone.uuid==2.0.0
plone.volto==4.0.10
plone.z3cform==2.0.1
plonetheme.barceloneta==3.1.3
Plost==0.2.5
pluggy==1.4.0
polars==0.18.4
Products.BTreeFolder2==5.1
Products.CMFCore==3.2
Products.CMFDiffTool==4.0.1
Products.CMFDynamicViewFTI==7.0.1
Products.CMFEditions==4.0.1
Products.CMFPlacefulWorkflow==3.0.3
Products.CMFPlone==6.0.6
Products.CMFUid==4.0
Products.DateRecurringIndex==3.0.1
Products.DCWorkflow==3.0
Products.ExtendedPathIndex==4.0.1
Products.ExternalMethod==5.0
Products.GenericSetup==3.0.1
Products.isurlinportal==2.0.1
Products.MailHost==5.0
Products.MimetypesRegistry==3.0.0
Products.PlonePAS==8.0.2
Products.PluggableAuthService==2.8.1
Products.PluginRegistry==2.0
Products.PortalTransforms==4.0.1
Products.PythonScripts==5.0
Products.Sessions==4.15
Products.SiteErrorLog==6.0
Products.StandardCacheManagers==5.0
Products.statusmessages==5.0.6
Products.ZCatalog==7.0
Products.ZopeVersionControl==4.0
protobuf==4.23.3
ptyprocess==0.7.0
pyarrow==12.0.1
pycparser==2.21
pydeck==0.8.1b0
pygal==3.0.0
Pygments==2.15.1
PyJWT==2.8.0
Pympler==1.0.1
pyparsing==3.1.0
pyperclip==1.8.2
pyrsistent==0.19.3
pytest==8.1.1
python-dateutil==2.8.2
python-decouple==3.8
python-gettext==5.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
Record==4.0
repoze.xmliter==0.6.1
requests==2.31.0
RestrictedPython==7.0a1.dev0
rich==13.4.2
roman==4.1
sgmllib3k==1.0.0
simplejson==3.19.1
six==1.16.0
smmap==5.0.0
soupsieve==2.4.1
SQLAlchemy==2.0.17
streamlit==1.32.2
streamlit-aggrid==0.3.4.post3
tenacity==8.2.2
toml==0.10.2
toolz==0.12.0
tornado==6.3.2
transaction==3.1.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
Unidecode==1.3.6
urllib3==2.0.3
validators==0.20.0
waitress==2.1.2
watchdog==3.0.0
WebOb==1.8.7
webresource==1.2
WebTest==3.0.0
WSGIProxy2==0.5.1
xlsx2csv==0.8.1
XlsxWriter==3.1.2
z3c.caching==3.0
z3c.form==5.1
z3c.formwidget.query==2.0.0
z3c.objpath==1.3
z3c.pt==4.0
z3c.relationfield==1.0
z3c.zcmlhook==2.0
zc.lockfile==3.0.post1
zc.relation==2.0
ZConfig==4.0
zExceptions==5.0
zipp==3.15.0
zodbpickle==3.0.1
Zope2==4.0
